@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Playfair+Display:wght@900&display=swap');
:root {
  --color-primary: #0699A6;
  --color-secondary:  rgba(158, 140, 108, 0.2);
  --black:black;
  --white: #fff;
  --gold: #9E8C6C;
  --font-primary: 'PT Sans Narrow';
  --font-secondary: 'Playfair Display';
  --font-tetiary: 'serif';
  --font-fourth: 'sans-serif'
}
/* font narrow is the primary */
/* font playfair Display is the secondary */
/* font serif is tetiary */

/* font-narrow */
.role,.contact,.about-me-section p,.experience-role,
.experience-date,.school,.grad-date,
.skill-set-section h3,.skill-set-list-item,
.awards-section h3,.awards-list-item, .career-traits h3,
.career-traits p, .recent-works h3,.recent-works-item{
  font-family: var(--font-primary), var(--font-tetiary);
  font-style: normal;
}
/* font playfairdisplay */
.name,.about-me-section h2,.experience-section h2,
.education h1,.footer-inner h3,.email,.phone-no{
  font-family: var(--font-secondary),var(--font-fourth);
  font-style: normal;
}
header{
  height: 660px;
  background: var(--color-secondary);
  color: var(--white);
  position: relative; 
  /* padding: 0px; */
  display: flex;
  padding-top: 70px;
  align-items: flex-start;
  justify-content: center;
}

header::before,
header::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -55px;
  right: 0;
  left: 0;
  background: var(--white);
  transform: skewY(-3deg);
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

.head-upper{
  margin-top: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar{
  border-radius: 50%;
  width: 170px;
  height: 170px;
  margin-left: 0px;
}
.vector{
  position: absolute;
  width: 90px;
  height: 90px;
  z-index: 3;
  left: 195px;
  top: 40px;
}
 .role{
  
  font-weight: bold;
  margin-top: 35px;
  font-size: 14px;
  letter-spacing: 3px;
  color: var(--gold);
  text-transform: uppercase;
}
.head-lower{
 display: flex;
 align-items: center;
 flex-direction: column;
}
.name{
  margin-top: 22px!important;
  margin: 0px;
  color: var(--black);
  font-size: 3.5rem;
  line-height: 50px;
  font-weight: 900!important;
  text-align: center;
  margin-bottom: 45px;
}
.contact{
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background: var(--color-primary);
  padding: 22px 64px;
  font-size: 1.2rem;
}
.about-me{
  margin-top: 30px;
  padding: 30px;
  padding-top: 28px;
}
.about-me-section{
  margin-top: 0px;
  padding-bottom: 0px;
}
.about-me-section h2{
  font-weight: 900;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 15px;
}
.about-me-section p{
  font-weight: 200;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 45px;
}
.deco{
  background: var(--color-primary);
  padding: 10px 20px;
  width: 25%;
  margin-bottom: 15px;
}
.experience{
  margin-bottom: 40px;
}
.experience-section{
  margin-top: 30px;
}
.experience-section h2{
  font-weight: 900;
  font-size: 32px;
  line-height: 42px;
}
.experience-role{
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--gold);
  margin-bottom: 15px;
}
.experience-date{
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  margin-bottom: 10px;
}
.education{
  margin-top: 40px;
  margin-bottom: 40px;
}
.education h1{
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: var(--black);
  margin-bottom: 20px;
}
.school{
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--gold);
  margin-bottom: 10px;
}
.grad-date{
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  margin-bottom: 6px;
}
.skill-set{
  padding: 30px;
  padding-top: 8px;
}
.skill-set-section h3{
  font-weight: bold;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--gold);
  margin-bottom: 8px;
}
.skill-set-list{
  padding: 15px 0px;
  margin-bottom: 15px;
}
.skill-set-list-item{
  padding: 3px 0px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: var(--black);
  
}
.awards-section h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--gold);
}
.awards-list {
  padding: 12px 0px;
  margin-bottom: 12px;
}
.awards-list-item{
  padding: 3px 0px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: var(--black);
}
.career-traits{
  margin-bottom: 35px;
}
.career-traits h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color:var(--gold);
  margin-bottom: 12px;
}
.career-traits p{
  font-weight: 100!important;
  font-size: 18px;
  line-height: 30px;
  color: var(--black);
  margin-bottom: 12px;
}
.bolden{
  font-weight: 900!important;
}

.recent-works h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--gold);
  margin-bottom: 12px;
}
.recent-works div{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.recent-works-item{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-primary);
}
footer{
  height: 550px;
  background: rgba(158, 140, 108, 0.2);
  color: var(--white);
  position: relative; 
  padding: 40px;
  padding-top: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
footer::before,
footer::after {
  content: '';
  position: absolute;
  height: 100px;
  top: -25px;
  right: 0;
  left: 0;
  background: var(--white);
  transform: skewY(-2deg);
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}
.big{
  display: none;
}
.footer-inner{
  margin-top: 80px;
}
.footer-inner h3{
  font-weight: 900;
  font-size: 45px;
  line-height: 50px;
  text-align: center;
  letter-spacing: -1.13793px;
  color: var(--black);
  margin-bottom: 40px;
}
.contact-addr{
  margin-top: 10px;
}
.email,
.phone-no{
  font-weight: 900;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
  color: var(--color-primary);
}
.social-media{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: -30px;
}
.icon{
  margin-left: 45px;
  width: 30px;
  height: 30px;
}
#icon{
  fill: var(--color-primary);
}

/* MEDIA QUERIES */
@media (max-width: 280px){
  .vector{
    left: 200px;
    top: 50px;
  }
}

/* TABLETS */
@media (min-width: 481px) {
  header{
    height: 800px;
  }
  .avatar{
    border-radius: 50%;
    width: 230px;
    height: 220px;
    margin-left: 0px;
  }.role{
    margin-top: 48px;
    margin-left: 10px;
    font-size: 1.2rem;
  }
  .name{
    margin-top: 12px!important;
    font-size: 90px!important;
    line-height: 80px;
  }
  .contact{
    padding: 20px 70px;
    font-size: 1.4rem;
  }
  .vector{
    z-index: 3;
    left: 405px;
    top: 45px;
  }
  .about-me{
    margin-top: 0px;
    padding: 150px;
    padding-top: 75px;
    padding-bottom: 40px;
  }
  .about-me-section p{
    margin-bottom: 60px;
  }
  .skill-set{
    padding: 150px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
  }
  .experience-section{
    margin-top: 50px;
  }
  .experience{
    margin-bottom: 55px;
  }
  .education{
    margin-top: 50px;
    margin-bottom: 55px;
  }
  .skill-set-list,
  .awards-list
  {
    margin-bottom: 40px;
  }
  .career-traits{
    margin-bottom: 70px;
  }
  .career-traits > p{
    margin-bottom: 25px;
  }
  footer{
    height: 550px;
    padding: 40px;
    padding-top: 100px;
  }
  footer::before,
  footer::after {
    transform: skewY(-3deg);
    -webkit-transform: skewY(-4deg);
  }
  .footer-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-inner h3{
    font-size: 65px;
  }
  .email,
.phone-no{
  font-size: 40px;
}
.social-media{
  margin-top: 50px;
  margin-left: -60px;
}
}

/* BIGGER */
@media (min-width: 769px) {
  header{
    height: 550px;
    background: var(--color-secondary);
    color: var(--white);
    position: relative; 
    padding: 100px 110px;
    display: block;
  }
  .head{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }
  .head-upper{
    margin-right: 90px!important;
  }  
  .avatar{
    border-radius: 50%;
    width: 295px;
    height: 295px;
    margin-left: 0px;
  }
  .vector{
    width: 120px;
    height: 120px;
    z-index: 3;
    left: 315px;
    top: 285px;
  }
  .role{
    font-size: 14px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .head-lower{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
   }
  .head-lower h1{
    margin-top: 0px!important;
    color: var(--black);
    font-size: 10rem;
    margin-bottom: 25px;
    text-align: start;
    line-height: 80px;
  }
  .contact{
    padding: 15px 30px;
    font-size: 1.0rem;
  }
  header::before,
  header::after {
    transform: skewY(-3deg);
    -webkit-transform: skewY(-4.2deg);
  }
  .experience-details,
  .education-details{
    display: flex;
    justify-content: space-between;
  }
  footer{
    height: 650px;
    padding: 40px;
    padding-top: 100px;
  }
  .footer-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .footer-inner h3{
    font-size: 70px;
  }
  .contact-addr{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .email{
    margin-right: 15px!important;
  }
  .big{
    display: block;
    margin-right: 15px;
    color: var(--color-primary);
    font-size: 30px;
    font-weight: 900;
  }
  footer::before,
  footer::after {
    transform: skewY(-3deg);
    -webkit-transform: skewY(-2.3deg);
  }
}

/* 1025px — 1200px: Desktops, large screens */
@media (min-width: 1025px) {
  header{
    height: 580px;
    background: var(--color-secondary);
    color: #fff;
    position: relative; 
    padding: 100px 130px;
    display: block;
  }
  .head{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }
  .head-upper{
    margin-right: 110px!important;
    margin-left: 70px;
  }  
  .avatar{
    border-radius: 50%;
    width: 295px;
    height: 295px;
    margin-left: 0px;
  }
  .vector{
    width: 120px;
    height: 120px;
    z-index: 3;
    left: 405px;
    top: 300px;
  }
  /* .role{
    font-size: 20px;
    margin-top: 0px;
    margin-left: 0px;
  } */
  .head-lower{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 30px;
   }
  .head-lower h1{
    margin-top: 10px!important;
    color: var(--black);
    font-size: 7.3rem!important;
    margin-bottom: 25px;
    text-align: start;
    line-height: 98px;
  }
  .contact{
    padding: 13px 30px;
    font-size: 1.0rem;
  }
  header::before,
  header::after {
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3.4deg);
  }
  .content-inner{
    margin-top: 90px;
    display: flex;
    flex-direction: row-reverse;
    padding: 0px 0px!important;
  }
  .about-me{
    margin-top: 0px!important;
    padding-top: 0px;
  }
  .about-text{
    margin-bottom: 70px!important;
    text-align: justify;
    margin-top: 30px;
  }

  .deco{
    background: var(--color-primary);
    padding: 5px 20px;
    width: 10%;
    margin-bottom: 15px;
  }
  .experience-section{
    margin-top: 60px;
  }
  .about-me-section p{
    margin-bottom: 70px;
  }
  .education{
    margin-top: 75px!important;
  }
  .deco.education{
    display: none;
  }
  .skill-set-section,
  .awards-section,
  .career-traits,
  .recent-works{
    margin-bottom: 85px;
  }
  .skill-set-section h3{
    font-size: 16px!important;
  }
  .skill-set{
    margin-right: 100px;
    padding-right: 0px;
  }
  .skill-set-list{
    padding: 0px;
  }.skill-set-list-item{
    padding: 0px;
  }
  .career-traits p{
    margin-bottom: 25px;
  }
  .experience-details,
  .education-details{
    display: flex;
    justify-content: space-between;
  }
  .footer-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .footer-inner h3{
    font-size: 70px;
  }
  .contact-addr{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .email{
    margin-right: 15px!important;
  }
  .big{
    display: block;
    margin-right: 15px;
    color: var(--color-primary);
    font-size: 30px;
    font-weight: 900;
  }
  footer::before,
  footer::after {
    transform: skewY(-3deg);
    -webkit-transform: skewY(-2.3deg);
  }
}